project/target/
core/target/
target/
.bloop/
.metals/
.vscode/
.bsp/
.idea/
*.iml
.claude/
project/.bloop/
project/project/
project/metals.sbt
dist/
test262
test262/
test262_report.txt
test262_errors.txt
